html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* All on one line */
/* font: 18px/1.5 Helvetica, Arial, sans-serif; */


/* Global */

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

h1, h4 {
  font-weight: bold;
}

ul {
 margin: 0;
 padding: 0;
}

.button_1 {
  height: 38px;
  background-color: firebrick;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */

header {
  background-color: black;
  color: white;
  min-height: 3rem;
  border-bottom: firebrick 3px solid;
  }

header #top-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

#top-nav ul {
 float: right;
 margin-top: 0.25rem;
 text-align: center;

 }

header #top-nav li {
  display: inline;
  padding: 0 0.5rem 0 0.5rem;
  background-color: black;
}

#branding span {
  float: left;
  display: inline-block;
  border: 0px solid white;
  text-align: center;
  margin-top: 0.25rem;
}

#branding img {
  border: 0px solid white;
  display: block;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  float: left;
}


header .highlight, header #top-nav .current a {
  color: firebrick;
  font-weight: bold;
}

header #top-nav a:hover {
  color: gray;
  font-weight: normal;
}

header .container {
  padding: 0.66rem 0.5rem 0.66rem 0.5rem;
  }

/* Main-banner */

#showcase {
  min-height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-color: red;
  background-repeat: no-repeat 0 -200px;
  background-position: center;
  background-size: cover;
  text-align: left;
  color: white;
}

#showcase h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
  margin-bottom: 0rem;
  }

.headline {
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  width: 20rem;
  }

  /* Navigation Bar */

.mobile-nav {
  display: none;
  }

nav {
  background-color: firebrick;
  }

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  }

nav li {
  display: inline-block;
  padding: 0.75rem 0.5rem;
  text-transform: uppercase;
  }

nav li a {
  color: white;
  text-decoration: none;
}

  /* Change the link color on hover */
nav li a:hover {
  background-color: white;
  color: firebrick;
  padding: 1rem 1rem;
}

/* boxes*/

#boxes {
  margin: 3rem 0 0 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

#boxes .box {
  width: 30%;
  border: 4px solid black;
  display: inline-block;
  margin: 0.5rem;
  }

.product-image {
  height: 9rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }

figcaption {
  color: white;
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
  }

#boxes .box img {
  max-width: 8rem;
}

/* Business info */

#business-info {
  width: 100%;
  display: inline-block;
  margin-top: 3rem;
  }

.info {
  width: 35%;
}

.info.location {
  float: left;
}

.info.hours {
  float: right;
}

#business-info .info h1 {
  color: white;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

/* Services Quote form */

ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* Newsletter section */

#newsletter {
 width: 100%;
 min-height: 4rem;
 color: white;
 background-color: #35424a;
 text-align: center;
 margin-top: 4rem;
 margin-bottom: 0;
}

#newsletter h1 {
  padding: 1rem 0 1rem 0;
  font-size: 1.25rem;
  float: left;
  }

#newsletter form {
float: right;
padding: 1rem 0 1rem 0;
}

/* Not working, need to enlarge input */
#newsletter input(type="email") {
padding: 0.25rem;
height: 3rem;
width: 90%;
}

/* footer */

footer{
  height: 5rem;
  padding-top: 2.3rem;
  margin-top: 0rem;
  color: white;
  background-color: black;
  text-align: left;
  }

/* About Page */
/* Sidebar */

aside #sidebar {
  float:right;
  width: 30%;
  margin-top: 10px;
}

aside#sedebar .quote input, aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}
/* Main col */

article #main-col {
  float: left;
  width: 65%;
  }

/* Media Query */

  @media only screen and (max-width:960px) {
   body {
    font-size: 1rem;
    }
    header #branding,
    header .nav-top,
    header .nav-top li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    article#sidebar {
      float: none;
      text-align: center;
      width: 100%;
    }
    header {
      padding-bottom: 20px;
    }
    .container {
      width: 100%;
    }
    #showcase {
      padding: 0.5rem 0.75rem;
    }
    #showcase h1 {
      padding-top: 0.35rem
      margin-top: 1.5rem;
    }
    .desktop-nav {
      display: none;
    }
    .mobile-nav {
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 1.25rem;
    }

    #boxes.box {
      width: 47%;

    }
    #boxes.box.glasses {
      display: none;
    }
    #newsletter {
      height: 100%;
      padding: 1.5rem 0;
    }
    #newsletter button, .quote button {
      display: block;
      width: 50%;
      margin: 0 auto;
      height: auto;
      padding: 1rem;
      margin-top: 0.75rem;
    }
    /*not working */
    #newsletter form input(type="email"), .quote input, .quote textarea {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

/* Media query for mobile */

  @media only screen and (max-width: 470px) {
  body {
    width: 100%;
    margin: 0 auto;
}
    header #branding span {
     display: none;
   }
   /* not working */
   header #branding img {
     margin: 0 auto;
   }
    #showcase {
      max-height: 15rem;
    }
    .headline {
      width: 100%;
      margin-top: 10rem;
      padding: 1rem 2rem;
      margin: 0 auto;
    }
    .headline h4 {
      font-size: 0.77rem;
    }
    .headline h1 {
      font-size: 1rem;
      padding-bottom: 0.5rem;
    }

    .container {
      width: 90%;
    }
    .boxes, #business-info {
     display: flex;
     width: 100%;
     height: auto;
    }

    .product.figcaption {
      width: 100%;
    }
    .box.watch, .box.glasses {
      display: none;
    }
    #business-info {
      display: flex;
      flex-direction: column;

    }
    .info {
      padding-bottom: 0.5rem;
      width: 100%;
    }
    footer h4 {
      text-align: center;
    }
  }
